.content-start-mini{
    display: flex;
    font-size: 20px;
    color:cadetblue;
    
}

.text1{
    display: flex;
    width: 100%;
    color: gray;
    font-size: 20px;
    flex-wrap: wrap;
   
}
.text-start-mini{
    display: flex;
    font-size: 20px;
    color: darkred;

}

.text1>img{
    width: 400px;
}

.block-text{
    display: flex;
    width: 50%;
    height: 100px;
    background-color: lightgoldenrodyellow;
    border: 2px solid green;
    border-radius: 10px;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    
}

.block2>h2{
    font-size: 30px;
    color: firebrick;
}

.block2>h3{
    font-size: 25px;
    color: orangered;
}

.text2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.block-text2{
    display: flex;
    width: 50%;
    height: 200px;
    font-size: 20px;
    color: gray;
    background-color: lightgoldenrodyellow;
    border: 2px solid green;
    border-radius: 10px;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;

}
.text2>img{
    width: 400px;
}


.conteiner3-1>h3{
    font-size: 25px;
    color: orangered;
}

.conteiner3-1{
    margin-bottom: 100px;
}


.bl_raz{
    height: 200px;
    width: 100%;
    background: rgba(255, 166, 0, 0);
}
